.root {
  --button-font-size: var(--button-font-size, var(--font-size, 15px));
  --button-border-radius: var(--button-border-radius, 2px);
  --button-background-color: var(--button-color-primary, var(--color-primary, #496b76));
  --button-text-color: var(--button-text-color-primary, var(--color-primary-text, white));
  --button-background-color-active: var(--button-color-active, var(--color-active, #c5edfb));
  --button-text-color-active: var(--button-text-color-active, var(--color-active-text, #64a1b5));

  font-size: var(--button-font-size);
  border: 1px solid #e9e9e9;
  border-radius: var(--button-border-radius);
  padding: 0.6em 1.2em;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.root:active {
  --button-background-color: var(--button-background-color-active);
  --button-text-color: var(--button-text-color-active);
}

.selected {
  --button-background-color: var(--button-background-color-active);
  --button-text-color: var(--button-text-color-active);
}

.selected:active {
  --button-background-color: var(--button-background-color-active);
  --button-text-color: var(--button-text-color-active);
}

.disabled {
  --button-background-color: var(--button-color-disabled, var(--color-disabled, #e4e4e4));
  --button-text-color: var(--button-text-color-disabled, var(--color-disabled-text, #cbcbcb));
  cursor: initial;
  pointer-events: none;
}

.mini {
  --button-font-size: 12px;
}
