:root {
  --background-color-z0: #2c444c;
  --background-color-z1: #243c44;
  --background-color-z2: #1c343b;

  --color-primary: #496b76;
  --color-primary-text: white;
  --color-active: #c5edfb;
  --color-active-text: #83b6c7;
  --color-disabled: #e4e4e4;
  --color-disabled-text: #afafaf;

  --font-size: 12;
}

html {
  font-size: var(--font-size);
  background-color: var(--background-color-z0);
}
